UVICORN_HOST = "127.0.0.1"
UVICORN_PORT = "54545"
UVICORN_RELOAD = "True"
BACKEND_URL = "http://backend:${UVICORN_PORT}/api/v1/"
# Для локального запуска без Docker:
# BACKEND_URL = "http://127.0.0.1:${UVICORN_PORT}/api/v1/"